.dashboard {
    min-height: 100%;
    padding-bottom: 250px;
    background-color: #f6f7fb;

    .dashboard-header {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;

        .dashboard-name-container {
            padding: 8px 30px;

            h1 {
                align-content: center;
                font-size: 24px;
                line-height: 34px;
                font-weight: 500;
                height: 48px;
                margin: 0;
            }
        }

        .dashboard-nav {
            height: 48px;
            width: 100%;
            display: flex;
            background-color: var(--primary-background-color);
            border-top: 1px solid var(--layout-border-color);
            border-bottom: 1px solid var(--layout-border-color);
            align-items: center;

            &>* {
                margin-inline: 30px;
            }

            .dashboard-nav-btns {
                gap: 8px;

                button {
                    cursor: auto;
                    gap: 8px;
                }
            }
        }

        .blue-loader {
            height: 5px;
            width: 100%;
            background: linear-gradient(90deg, rgb(221, 221, 221) 25%, rgb(30, 9, 255) 50%, rgb(221, 221, 221) 75%);
            background-size: 200% 100%;
            animation: shimmer 1s infinite linear;
        }
    }

    .dashboard-content {

        .data-list {

            &.small {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 16px;
                padding: 16px;
                transition: width 200ms ease-in-out;
            }

            &.big {
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));

                gap: 16px;
                padding: 16px;
                transition: width 200ms ease-in-out;
            }


            .data-item {
                position: relative;
                display: flex;
                flex-direction: column;

                background-color: var(--primary-background-color);
                border: 1px solid var(--layout-border-color);
                border-radius: 8px;

                height: 100%;
                min-height: 192px;

                &.loader {
                    animation: pop 200ms ease-in-out;
                }


                &::after {
                    content: "";
                    position: absolute;
                    background: var(--primary-color);
                    border: none;
                    border-radius: 100%;
                    right: -15px;
                    bottom: -15px;
                    left: auto;
                    transform: translate(50%, 50%);
                    width: 15px;
                    height: 15px;
                    opacity: 0;
                }


                &:hover::after {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1.5);
                }

                &:hover {
                    outline: 1px solid var(--primary-color);
                }

                &.big {
                    flex: 1 1 calc(50% - 16px);
                }

                .data-header {
                    background: var(--primary-background-color);
                    border-block-end: 1px solid;
                    border-color: var(--layout-border-color);
                    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
                    min-height: 48px;
                    padding: var(--spacing-small) 16px;
                    font-size: 18px;
                    font-weight: 500;
                    align-content: center;
                }

                .data-content {
                    display: grid;
                    padding-inline: 4px;
                    padding-bottom: 5px;
                    height: 100%;
                    align-items: flex-end;
                    align-content: center;

                    &.big {
                        height: 344px
                    }

                    .item-count {
                        font-size: 32px;
                        font-weight: 400;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        flex: 1 1 auto;
                        padding: var(--spacing-large);
                    }
                }

            }

        }

    }
}

.custom-pie-chart {
    grid-row: 2;
    position: relative;
    display: flex;
    padding-inline: 20px;
    align-self: center;

    .pai-chart-container canvas {
        min-width: 120px;
        width: 80% !important;
        height: 80% !important;
    }

    .pai-chart-container {
        width: 100%;
        aspect-ratio: 1;
        height: auto;
        justify-items: center;
        align-content: center;
    }

    .labels {
        display: grid;
        place-content: center;
        gap: 18px;

        .label {
            display: flex;
            min-width: 0;
            place-items: center;
            gap: 10px;

            .circle {
                min-width: 14px;
                width: 14px;
                height: 14px;
                border-radius: 2vh;
            }
        }
    }
}

@media (max-width: 810px) {
    .custom-pie-chart {
        display: grid;
    }

    .dashboard {
        & .dashboard-content {
            & .data-list {
                &.small {
                    display: flex;
                    flex-direction: column;
                }

                &.big {
                    display: grid;
                    grid-auto-flow: row;
                    grid-template-columns: auto;
                }
            }
        }
    }

    & .dashboard-content {
        & .data-list {
            & .data-item {
                .data-content {
                    place-items: center;
                }
            }
        }
    }

}



@keyframes pop {
    0% {
        scale: 0.8;
    }

    100% {
        scale: 1;
    }
}